body {
    background-color:lightgreen;
}

.button {
    background-color: green;
    border: none;
    color: white;
}

@media only screen and (max-width: 992px) {
    body {
    background-color:lightcyan;
    }

    .button {
        background-color: blue;
    }
}