<!DOCTYPE html>
<html>

<head>
    <title>PAW Tutorial</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>PAW Tutorial</h1>
    <p>Welcome to Your Employee Web App</p>
    <h4><a href="/employees">View Employees</a></h4>
</body>

</html>